In [1]:
import pymc3 as pm 
import pandas as pd
import numpy as np

WARNING (theano.configdefaults): install mkl with `conda install mkl-service`: No module named 'mkl'

In [5]:
df = pd.read_csv('iihs2020.csv')

In [7]:
df.head()

,model,size,type,deaths,class,interval,MV,SV,roll,model years,exposure
0,Mitsubishi Mirage hatchback,1,car4d,72,4door,28-115,52.0,18.0,5.0,2014-17,"171,842"
1,Kia Rio,1,car4d,87,4door,40-134,51.0,38.0,0.0,2014-17,"204,326"
2,Hyundai Accent,1,car4d,116,4door,74-158,85.0,28.0,9.0,2014-17,"417,171"
3,Ford Fiesta,1,car4d,141,4door,94-189,98.0,46.0,13.0,2014-17,"357,492"
4,Volkswagen Golf,2,car4d,0,4door,0-34,0.0,0.0,0.0,2014-17,"108,084"